/* Search Button  */
.banner {
  width: 585px;
  margin: auto;
  margin-top: 2%;
}

Button.banner_searchButton {
    background-color: #ff7779;
    text-transform: inherit;
    color: white;
    border: 1px solid #ff7779;
  }

  Button.banner_searchButton:hover {
    color: #ff7779;
    border: 1px solid #ff7779;
  }
  
  div.banner_search {
    display: flex;
    flex-direction: column;
    color: #ff7779;
  }